*
{   padding:0;
    margin:0;
    box-sizing: border-box;
}

p{
  color: #ffcc53;
}

h1,h2{
  color: #85da74;
}

#board{
  border:2px solid #446CB3;
  display:inline-block;
}
body{
  text-align:center;
}

.box{
  width:10px;
  height: 10px;
  border:1px solid rgba(29, 180, 54, 0.1);
  background-color:#85da74;
  display:block;
  float:left;
  margin: 0 !important;
  padding:0;
}
.lastInRow:after{
  content: '';
  display: block;
  clear: both;
}
.btn{
  padding: 6px 10px;
  margin:6px 0;
  background: #ffcc53;
  border:1px solid #ffcc53;
  cursor: pointer;
  border-radius: 2px;
   color: white;
   font-family: verdana;
   text-transform:uppercase;
   transition:all .3s;
}
.btn:hover{
  background:rgb(148, 141, 141);
}
.black{
  background: #4A995F;
  border:1px dotted black;
}
.fakeBlack{
  background:rgba(168, 98, 98, 0.2);
}
.green{
  background:red;
  border-radius: 20%;  
}

.purple{
  background-color: purple;
  border-radius: 20%;  
}
.snakeHead{
  background:#165a09;
  border-radius: 2px;
}

.obstacle{
  background:brown;
}

header{
  height: 836px;
}

/* ------------------------------------------------ */
#scoreElement{
  position: absolute;
  top:40%;
  width:100%;
  text-align:center;
  z-index:10000;
  padding:10px;
  background: #ffcc53;
  color:#fff;
}
.hiddenObject{
  display: none;
}

#userLogin{
  width:300px;
  border:1px solid #ffcc53;
  margin:50px auto;
  padding:40px 10px;
  border-radius: 4px;
}
#gameOverTextNode{
  margin:15px 0;
}
#playerName,#newPlayerName{
  width:80%;
  padding:6px 4px;
  text-transform: uppercase;
  border-radius: 2px;
  border:1px solid #ffcc53;
}
#leaderBoardHaed{
  margin:10px auto 4px;
}
#leaderBoard,#leaderBoardHead{
  display: inline-block;
  border-collapse: collapse;
}
#leaderBoardWrapper{
  height:300px;
  overflow-y: auto;
  display: inline-block;
}
#leaderBoard tbody tr td,
#leaderBoard thead tr th{
  width:200px;
  padding:10px; 
  border:1px solid #ffcc53;
  width:200px;
}
#leaderBoard thead tr th:first-child,
#leaderBoard tbody tr td:first-child{
  width:50px !important;
}
#leaderBoard thead tr th{
  background:#4a995f;
  color:#E4F1FE; 
  border:1px solid #ffcc53  ;
}
.currentPlayer{
  background: #cdf3cd;
}
.currentPlayer td {
  border: 1px solid #E4F1FE !important;
  color: #4a995f;
}

td {
  width:50px !important;
  color:#85da74 ;
  /*background:blanchedalmond; */
  font-style: bold;
}
/* ------------------------------- */
